* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
  font-family: 'calibri', sans-serif;
  color: #777;
}

.containerTitle {
  margin: 10px auto 80px auto;
}

.list {
  z-index: -1;
  font-family: Verdana, sans-serif;
  text-align: center;
  color: #6495ed;
  width: 24rem;
  height: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: 18px;
  margin-right: auto;
  font-size: 2.3em;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.to-do-container {
  background-color: #eee;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px 0;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.today-title {
  margin: 10px 10px 10px 0;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-align: left;
}

.reload {
  background-color: transparent;
  margin: 10px;
  height: 10px;
  width: 10px;
  border: none;
  cursor: pointer;
}

.add-task-form {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.add-task {
  margin: 10px 10px 10px 0;
  flex: 20;
  border: none;
  padding: 0.5rem 0;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-weight: 100;
  outline: none;
}

.add-task::placeholder {
  color: #bbb;
}

.submit {
  background-color: transparent;
  height: 10px;
  width: 10px;
  border: none;
  cursor: pointer;
}

.to-do-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1px 0;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.3rem 0;
}

.focus {
  background-color: rgb(164, 189, 237);
}

.task > * {
  display: inline-block;
  margin: 0 5px;
  flex: 1;
  vertical-align: middle;
}

.checkbox {
  height: 12px;
}

.task-description {
  border: none;
  background-color: transparent;
  flex: 20;
  font-size: 12px;
  outline: none;
}

.task > span {
  text-align: right;
  padding-right: 5px;
  cursor: pointer;
}

.clear-all {
  width: 100%;
  text-align: center;
  padding: 0.65rem;
  font-size: 14px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.hidden {
  display: none;
}
