.titulo {
  color: rgb(212, 19, 177);
  background-color: rgb(59, 222, 47);
}

.graciasDios {
  color: aquamarine;
  background-color: yellow;
}

.esto {
  color: blueviolet;
  background-color: black;
}
